@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lobster&display=swap');

p{
    color: blue;
    font-family: 'Bungee Spice', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
}